<div class="row">
  <div class="col">
    <p class="accounting-type-img m-auto text-center"><i class="fas fa-drumstick-bite"></i></p>
  </div>
</div>
<div class="row mt-2">
  <div class="col-sm-7 accounting-types m-auto p-1">
    <div class="accounting-type d-inline-flex align-self-center">
      <i class="fa fa-2x fa-drumstick-bite p-2"></i>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col-sm-6 accounting-table m-auto">
    <table class="table">
      <thead>
        <tr>
          <td scope="col">名字</td>
          <td scope="col">類型</td>
          <td scope="col">品項</td>
          <td scope="col">花費</td>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" *ngFor="let item of accountingRecords">
          <td>
            {{item.userName}}
          </td>
          <td>
            {{item.costType}}
          </td>
          <td>
            {{item.item}}
          </td>
          <td>
            {{item.cost}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>